/****************
TITULO
***************/
#interface_registro_empleados h1 {
  padding: 10px 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

/****************
BARRA DE DIRECCION O RUTA
***************/
.barra_ruta {
  background-color: rgba(156, 156, 156, 0.246);
  padding: 15px 5px;
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  max-width: 1000px;
}

.barra_ruta strong:nth-of-type(1) {
  color: rgba(0, 0, 168, 0.589);
}

.barra_ruta strong:hover:nth-of-type(1) {
  color: rgba(0, 0, 168, 0.889);
  text-decoration: underline;
  cursor: pointer;
}

.barra_ruta strong:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.479);
}

/**********************
FOMRULARIO
********************/
/**CONTENEDOR DEL BOTON**/
.box_btn {
  max-width: 1000px;
  margin: 0 auto;
}

.box_btn button {
  padding: 8px 15px;
  box-sizing: border-box;
  border: 2px solid rgb(46, 46, 46);
  color: rgb(46, 46, 46);
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

/**CONTENEDOR DEL FORMULARIO**/
.box_fr {
  /*border: 2px solid rgba(46, 46, 46, 0.445);*/
  margin: 0 auto 15px auto;
  max-width: 1000px;
  overflow: auto;
  background-color: #fff;
}

/**FORMULARIO**/
#fr_empleado {
  display: none;
}

#fr_empleado div>label,
#fr_empleado div>input,
#fr_empleado div>select {
  display: block;
}

#fr_empleado div>label {
  color: rgba(0, 7, 105, 0.863);
  font-weight: bold;
  padding: 10px 5px;
  box-sizing: border-box;
}

#fr_empleado div>input {
  display: block;
  padding: 10px 5px;
  width: 90%;
  margin: auto;
}

#fr_empleado div>select {
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px 5px;
  color: #575656f5;
}

.box-btnRegistra {
  max-width: 1000px;
  margin: 25px;
}

.box-btnRegistra>button {
  background-color: rgb(0, 128, 53);
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

/****************
ESTILO CONTENEDOR FORMULARIO
******************/
@media screen and (min-width:600px) {
  #fr_empleado>section {
    display: flex;
    flex-wrap: wrap;
  }

  #fr_empleado>section>article {
    display: block;
    width: 50%;
  }

}

/***********************************
BARRA DE OPCINES DE LA TABLA
************************************/
#box-barra-opciones {
  max-width: 1000px;
  margin: 25px auto;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#box-barra-opciones div:nth-of-type(1) {
  margin-right: 15px;
}

#box-barra-opciones div:nth-of-type(2) {
  margin: auto 5px;
}

#box-barra-opciones div:nth-of-type(2)>select,
#box-barra-opciones div:nth-of-type(3)>input[type="text"] {
  padding: 10px 5px;
  box-sizing: border-box;
  display: block;
  border: 2px solid #bbbaba;
}


/***********************************
ESTILOS TABLA EMPLEADOS
************************************/
#cont_tb_empleados {
  max-width: 1000px;
  margin: 0 auto 75px auto;
  overflow: auto;
}

#tb_empleados {
  border-collapse: collapse;
  margin: auto;
}

#tb_empleados>thead>tr,
#tb_empleados>tbody>tr {
  border-top: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
}

#tb_empleados>thead>tr>th {
  box-sizing: border-box;
  padding: 15px 10px;
  background-color: rgba(146, 146, 146, 0.561);
}

#tb_empleados>tbody>tr>td {
  box-sizing: border-box;
  padding: 10px 5px;
}

#tb_empleados>tbody>tr>td>button {
  border: 1px solid transparent;
  padding: 5px 10px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  transition: all 200ms linear;
  border-radius: 3px;
}

#tb_empleados>tbody>tr>td>button:nth-of-type(1) {
  background-color: rgba(255, 8, 0, 0.883);
  color: rgba(255, 255, 255, 0.801);
}

#tb_empleados>tbody>tr>td>button:nth-of-type(2) {
  background-color: rgba(255, 255, 0, 0.863);
  color: rgba(0, 0, 0, 0.842);
}

#tb_empleados>tbody>tr>td>button:hover:nth-of-type(1) {
  background-color: rgb(255, 8, 0);
  color: rgba(255, 255, 255, 0.801);
}

#tb_empleados>tbody>tr>td>button:hover:nth-of-type(2) {
  background-color: rgb(255, 255, 0);
  color: rgba(0, 0, 0, 0.842);
}

/*********MODAL*********/
#modals {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.562);
  width: 100%;
  height: 100vh;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/******************
ESTILOS DE MENSAJES
*****************/
#msg_evento {
  display: none;
  position: fixed;
  z-index: 90;
  right: 0%;
  bottom: 10%;
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
}

#msg_evento>strong {
  color: rgba(0, 183, 255, 0.897);
  cursor: pointer;
  margin-left: 5px;
}

#msg_evento>strong:hover {
  text-decoration: underline;
  color: rgb(43, 205, 219);
}

.cl_atencion {
  background-color: rgb(251, 35, 35);
}

.cl_correcto {
  background-color: rgb(9, 139, 89);
}